/** @format */

.add-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #0c59c4;
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  top: 90%;
  right: 20px;
  z-index: 10;
  cursor: pointer;
}
