/** @format */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: blue;
}
body {
  --bg-color: #dddddd;
  --bg-d-color: #ffffff;
  --text-color: #000000;
  color: var(--text-color);
  background-color: var(--bg-color);
}
body.dark-theme {
  --bg-color: yellow;
  --bg-d-color: #000000;
  --text-color: #ffffff;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .neuphormism {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.5);
}
body .neuphormism-inset {
  box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.2),
    inset -8px -8px 12px 0 rgba(255, 255, 255, 0.5);
}
body.dark-theme .neuphormism {
  box-shadow: 8px 8px 6px 0 rgba(0, 0, 0, 0.2),
    -5px -5px 4px 0 rgba(70, 70, 70, 0.5);
}
body.dark-theme .neuphormism-inset {
  box-shadow: inset 8px 8px 6px 0 0 rgba(0, 0, 0, 0.2),
    inset -8px -8px 12px 0 rgba(70, 70, 70, 0.5);
}
body.dark-theme img {
  filter: brightness(0.8) contrast(1.2);
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.dragging :where(input, label) {
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #38404b;
    --bg-d-color: #000000;
    --text-color: #ffffff;
  }
  .neuphormism {
    box-shadow: 8px 8px 6px 0 rgba(0, 0, 0, 0.2),
      -5px -5px 4px 0 rgba(70, 70, 70, 0.5);
  }
  .neuphormism-inset {
    box-shadow: inset 8px 8px 6px 0 0 rgba(0, 0, 0, 0.2),
      inset -8px -8px 12px 0 rgba(70, 70, 70, 0.5);
  }
}
